<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="theme-color" content="seagreen" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0, user-scalable=yes"
    />
    <link rel="stylesheet" href="<%= prefix %>/css/styles.css" />
    <script
      src="https://unpkg.com/htmx.org@2.0.0"
      integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js"></script>
    <script src="https://unpkg.com/htmx-ext-preload@2.0.0/preload.js"></script>
  </head>
  <body hx-ext="preload,morph">
    <nav>
      <a href="<%= prefix %>/">Home</a>
      <a href="<%= prefix %>/code">Code</a>
      <a href="<%= prefix %>/traces">Traces</a>
    </nav>

    <main><%- content %></main>
  </body>
</html>
