<p>
  This is <code><%= fileName %></code> in the
  <code><%= project %></code> project.
  <nav>
    <a href="<%= fileUrl %>">Download this file</a>
    <a href="<%= gitHubUrl %>" target="_blank">See this file on GitHub</a>
  </nav>
</p>
<pre class="source-code">
<%- sourceCode %>
</pre>
