<div class="controls">
  <button
    class="input"
    hx-get="<%= firstStepUrl %>"
    hx-target="closest form"
    hx-swap="morph:innerHTML"
    hx-disabled-elt="form .input"
    <% if (stepNumber == 1) { %>
    disabled
    <% } %>
  >
    First
  </button>
  <button
    class="input"
    hx-get="<%= prevStepUrl %>"
    hx-target="closest form"
    hx-swap="morph:innerHTML"
    hx-disabled-elt="form .input"
    <% if (stepNumber == 1) { %>
    disabled
    <% } %>
  >
    Prev
  </button>
  <button
    class="input"
    hx-get="<%= nextStepUrl %>"
    hx-target="closest form"
    hx-swap="morph:innerHTML"
    hx-disabled-elt="form .input"
    <% if (stepNumber == numSteps) { %>
    disabled
    <% } %>
  >
    Next
  </button>
  <button
    class="input"
    hx-get="<%= lastStepUrl %>"
    hx-target="closest form"
    hx-swap="morph:innerHTML"
    hx-disabled-elt="form .input"
    <% if (stepNumber == numSteps) { %>
    disabled
    <% } %>
  >
    Last
  </button>
</div>

<div class="controls">
  <input
    class="input timeline"
    hx-get="<%= stepPrefix %>"
    hx-on::config-request="event.detail.path += this.value + '.html'"
    hx-target="closest form"
    hx-swap="morph:innerHTML"
    hx-disabled-elt="form .input"
    type="range"
    min="1"
    max="<%= numSteps %>"
    step="1"
    value="<%= stepNumber %>"
  >
</div>

<div class="source-and-stack">
  <pre class="source">
<%- sourceCode %>
  </pre>

  <ol class="stack">
    <% stack.forEach(({currentLine, className, methodName, visible}) => { %>
    <li class="frame">
      <span class="className"><%= className %></span>.<span class="methodName"><%= methodName %></span>:<span class="currentLine"><%= currentLine %></span>
      <ul class="vars">
        <% visible != null && visible.forEach(({name, type, value}) => { %>
        <li class="var">
          <span class="var-type-and-name">
            <span class="var-type"><%= type %></span>
            <span class="var-name"><%= name %></span>
          </span>
          <span class="var-value"><%= JSON.stringify(value) %></value>
        </li>
        <% }); %>
      </ul>
    </li>
    <% }); %>
  </ol>
</div>
